/* @override http://metaphysic.co/proyectos/bernal-co/stylesheets/app.css */


/* -----------------------------------------
   Typography
----------------------------------------- */
body {
	font: normal 400 14px/21px proxima-nova;
}

blockquote, p, li, h1, h2, h3, h4, h5, h6 {
	font-family: proxima-nova;
}


blockquote {
	color: rgba(169, 169, 169, 1.00);
	font-size: 19px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 37px;
	margin-bottom: 25px;
}

h1 a:link {
	color: #000000;
}



h1 {
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	letter-spacing: -1px;
	margin-top: 0px;
}


h2 {
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -1px;
	line-height: 50px;
	margin-bottom: 15px;
	margin-top: 0;
}

h2.title {
	margin-top: .5em;
}


h3 {
	font-size: 31px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -1px;
	line-height: 40px;
	margin-bottom: 28px;
	margin-top: 16px;
}


h4 {
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 30px;
	margin-bottom: 25px;
	margin-top: 16px;
}



h5 {
	font-size: 19px;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 25px;
	margin-top: 10px;
}




h6 {
	color: rgba(45, 51, 50, 1.00);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 25px;
}

p a:link {
	color: rgba(207, 67, 56, 1.00);
	text-decoration: none;
}

p a:visited {
	color: rgba(207, 67, 56, 1.00);
}


p {
	font-size: 14px;
	line-height: 20.875px;
	margin-bottom: 25px;
}


p.intro {
	color: #303030;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: -1px;
	line-height: 26px;
}

p.caps {
	color: rgba(179, 175, 175, 1.00);
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
}
 
/* -----------------------------------------
   Shared
----------------------------------------- */
.whitetxt {
	color: #ffffff;
}

.redtxt {
	color: #e13232;
}

.no-margin {
	margin: 0;
}

.margin-botton {
	margin-bottom: 2.5em;
}
 
/* Nicolas Gallagher's micro clearfix */
.row:before, .row:after, .clearfix:before, .clearfix:after {
	content: "";
	display: table; }
 
.row:after, .clearfix:after { clear: both; }
 
.row, .clearfix { zoom: 1; }

 
/* -----------------------------------------
   Blocks
----------------------------------------- */
/*Header*/
header {
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	min-height: 81px;
	opacity: 1;
	padding-top: 30px;
	position: relative;
	z-index: 2;
	min-width: 980px; }
 
ul.menu {
	float: right;
	margin-bottom: 0; }
 
	ul.menu li {
		float: left;
		font-size: 12px;
		font-weight: 700;
		height: 48px;
		list-style-type: none;
		margin-bottom: 0;
		margin-left: 40px;
		margin-top: 8px;
		padding: 0;
		text-transform: uppercase; }
 
		ul.menu li:first-child { margin-left: 0; }
 
		ul.menu li.active-link, ul.menu li.active-folder { border-bottom: 5px solid #ee1b24; }
 
		ul.menu li.active-link a, ul.menu li.active-folder a { color: #0a0a0a; }
 
		ul.menu li a {
			color: #a9a9a9;
			letter-spacing: 0; }
 
			ul.menu li a:hover {
				color: #000000;
				letter-spacing: 0; }
 
/*Banner*/
.the-banner {
	height: 390px;
	opacity: 1;
	position: relative;
	overflow: hidden;
	z-index: 1;
	background: url(https://bernalandco.squarespace.com/assets/images/banner.jpg) repeat-x center center #daf1eb;
}


.the-banner-2 {
	height: 260px;
	opacity: 1;
	position: relative;
	overflow: hidden;
	z-index: 1;
	background: url(https://bernalandco.squarespace.com/assets/images/bg-banner-services.jpg) repeat-y center center #f2f0f0;
}
 
	.the-banner h2 {
		letter-spacing: -2px;
		line-height: 1em;
		margin-bottom: 6px; }
		
.the-banner h3 {
	color: #303030;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: -1px;
	line-height: 26px; }
 
.banner-nav {
	bottom: 10px;
	left: 50%;
	margin-left: -45px;
	position: absolute;
	z-index: 3; }
 
	.banner-nav ul { min-width: 90px; }
 
		.banner-nav ul li {
			cursor: pointer;
			direction: ltr;
			float: left;
			height: 16px;
			list-style: none;
			margin-left: 5px;
			margin-right: 5px;
			text-indent: -9999px;
			width: 16px; }
 
			.banner-nav ul li:first-child { margin-left: 0; }
 
	.banner-nav  ul li:last-child { margin-right: 0; }
 
	.banner-nav ul li.active {
		background: url(https://bernalandco.squarespace.com/assets/images/sprite/spriteX1.png) -103px 0;
	}
 
 
 
	.banner-nav ul li.inactive {
		background: url(https://bernalandco.squarespace.com/assets/images/sprite/spriteX1.png) -103px -19px;
	}
 
.banner-control { position: relative; }
 
a.prev, 
a.next {
	direction: ltr;
	display: block;
	height: 44px;
	margin-top: -22px;
	position: absolute;
	text-indent: -9999px;
	top: 50%;
	width: 44px;
	background-image: url(https://bernalandco.squarespace.com/assets/images/sprite/spriteX1.png);
}
 
a.prev {
	background-position: 1px -47px;
	left: 0; }
 
	a.prev:hover {
		background-position: -45px -47px;
		left: 0; }
 
a.next {
	background-position: 0 0;
	right: 0; }
 
	a.next:hover {
		background-position: -46px 0;
		right: 0; }
 
.summary { margin-top: 5em; }


/*Service*/

.service-3 {
	background-color: #ff4748;
	height: 260px;
	padding-top: 4em;
	padding-bottom: 1em;
	padding-right: 1em;
}

.service-3 img {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.service-3 h3 {
	color: #ffffff;
	text-align: center;
	font-size: 24px;
}

.service-7 {
	background-color: #f2f0f0;
	height: 260px;
	padding: 2.5em 0 1em 4em;
}
 
 
.service-7 blockquote {
	font-size: 20px;
	color: #121111;
	font-weight: normal;
	font-style: normal;
	border-width: 0;
	padding-left: 0;
	margin-bottom: 50px;
	line-height: 1.5em;
}


.service-7 h2 {
	color: #121111;
	letter-spacing: -2px;
	font-size: 38px;
	font-weight: 700;
	line-height: 1em;
	margin-top: 0;
	margin-bottom: .5em;
}

.service-7 h2 strong {
	background-color: #ee1b24;
	display: inline;
	padding: 0 5px;
	color: #ffffff;
}


.services {
	padding-top: 1em;
	padding-bottom: 1.5em;
}

.services h3 {
	font-size: 20px;
	margin-bottom: .6em;
}
 
 
.services h4 {
	border-bottom: 1px solid #bdb7b7;
	color: #bdb7b7;
	display: inline-block;
	font-size: 19px;
	font-weight: 700;
	margin-bottom: 27px;
	margin-top: 22px;
	text-transform: uppercase; } 
 
/*Approach*/

.approach{
	min-width: 980px;
}

.approach .item {
	padding-bottom: 40px;
	padding-top: 55px; }
 
	.approach .item:hover { background-color: #ff4748; }
 
	.approach .item img {
		display: block;
		margin-bottom: 36px;
		margin-left: auto;
		margin-right: auto; }
		
.approach .item h3 {
	text-align: center;
}
 
.approach .item li {
	color: #000000;
	font-size: 15px;
	font-weight: 600;
	list-style-type: none;
	margin-bottom: 1px;
	text-align: center; }
 
	.approach .item li a { color: #000000; }
 
/*Cases*/
.cases {
	background: 6px #f9f8f8;
	padding-bottom: 65px; }
 
	.cases h4, .whitepapers h4, .videos h4 {
		border-bottom: 1px solid #bdb7b7;
		color: #bdb7b7;
		display: inline-block;
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 27px;
		margin-top: 22px;
		text-transform: capitalize;
		letter-spacing: 1px;
	}
 
	.cases h3 {
		font-size: 25px;
		margin-bottom: 0;
		margin-top: 0; }
		
	.cases h3 a {
		color: #000000;
	}
	
	.cases h3 a:hover {
		color: #000000;
		text-decoration: underline;
	}
 
/*News*/
.news { padding-bottom: 13px; }
 
	.news h2 {
		color: #bdb7b7;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 0;
		line-height: 1em;
		margin-bottom: 0;
		margin-top: 0;
		text-transform: uppercase; }
 
	.news h3 {
		font-size: 16px;
		letter-spacing: 0;
		line-height: 1em;
		margin-bottom: 13px;
		margin-top: 0; }
		
	.news h3 a {
		color: #000000;
	}
	
	.news h3 a:hover {
		color: #000000;
		text-decoration: underline;
	}
 
/*Footer*/
footer {
	background-color: #121111;
	padding-top: 29px;
	min-width: 980px; }
	
.footer-nav {
	width: 16%;
	margin-right: 2%;
	float: left;
	margin-left: 1%;
	margin-bottom: 4%;
}

.footer-nav li {
	font-size: 13px;
}

.down-down {
	background-color: #2f2d2d;
	padding-top: .7em;
	padding-bottom: .7em;
	height: 40px;
	overflow: hidden;
}

.down-down .member p {
	color: #b3afaf;
	font-size: 13px;
	margin: 0;
}

.down-down .member p a {
	font-weight: bold;
	color: white;
}

.down-down .member div {
	margin: 0;
	padding: 0;
}



.down-down .languaje p {
	color: #b3afaf;
	font-size: 11px;
	text-transform: uppercase;
	margin: 0;
}

.down-down .languaje p a {
	font-weight: bold;
	color: white;
}	

.footer-nav.last {
	margin-right: 0;
}
 
 
 
.footer-nav h3, .footer-nav h3 a {
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0;
	margin-bottom: 5px;
	margin-top: 0;
	text-transform: uppercase; }
	
.footer h6 {
	margin-bottom: 12px;
	font-size: 17px;
}

.footer h6 a {
	color: #ffffff;
}
 
.footer-nav li {
	line-height: 1.3em;
	margin-bottom: 11px; }
 
	.footer-nav li a { color: #b3afaf;
	}
	
	.footer-nav li a:hover {
		text-decoration: underline;
	}
 
ul.social {
	float: left;
	margin-bottom: 46px;
	width: 100%; }
 
.social li { float: left; }
 

.linkedin {
  display: inline-block;
  margin-right: 6px;
  text-indent: -9999px;
  background-image: url(https://bernalandco.squarespace.com/assets/images/sprite/spriteX1.png);
  vertical-align: middle;
  background-size: 135px 151px;
  width: 25px;
  height: 25px;
}

.linkedin {
  background-position: -26px -102px;
  left: 0;
}


.mail,
.phone {
  direction: ltr;
display: inline-block;
margin-right: 6px;
vertical-align: middle;
  height: 25px;
  text-indent: -9999px;
  background-image: url(https://bernalandco.squarespace.com/assets/images/sprite/spriteX1.png);
  background-size: 135px 151px;
  width: 25px;
}
.mail {
  background-position: 0 -102px;
  left: 0;
}
.phone {
  background-position: -51px -102px;
  left: 0;
}
 
 
/* -----------------------------------------
   Inner
----------------------------------------- */

.main-content {
	padding-top: 65px;
	padding-bottom: 60px;
}

.main-content h1 {
	color: #999494;
	letter-spacing: -1px;
	font-size: 24px;
	font-weight: 600;
	line-height: 1em;
	margin-bottom: 0;
}

.main-content h2 {
	color: #121111;
	letter-spacing: -2px;
	font-size: 38px;
	font-weight: 700;
	line-height: 1em;
	margin-bottom: 43px;
	margin-top: 9px;
}

.main-content h2 strong {
	background-color: #ee1b24;
	display: inline;
	padding: 0 5px;
	color: #ffffff;
}

.main-content h3 {
	margin-bottom: 25px;
	margin-top: 0;
}

.main-content li {
	list-style-position: outside;
	margin-left: 15px;
	margin-bottom: 20px;
}

.main-content blockquote {
	font-size: 25px;
	color: #121111;
	font-weight: normal;
	font-style: normal;
	border-width: 0;
	padding-left: 0;
	line-height: 32px;
	margin-bottom: 50px;
}


.main-content p em {
	background-color: #ee1b24;
	display: inline;
	padding: 0 5px;
	color: #ffffff;
	font-weight: normal;
	font-style: normal;
}


.team h2 {
	font-size: 25px;
	margin-top: 20px;
	line-height: 1em;
	margin-bottom: 5px;
	letter-spacing: -1px;
}

.team h3 {
	font-size: 11px;
	line-height: 1em;
	margin-bottom: 10px;
	letter-spacing: 0;
	margin-top: 0;
	color: #b3afaf;
	text-transform: uppercase;
}



.splash {
	background-color: rgb(60, 60, 60);
	padding-bottom: 0em;
	padding-top: 0em;
}

.subtitle {
	background-color: rgb(46, 46, 46);
	padding-bottom: .3em;
	padding-top: .8em;
}

.subtitle h3 {
	text-transform: uppercase;
	font-size: 16px;
	color: #ffffff;
	line-height: 1em;
	margin: 0;
}

.subtitle .sub-nav {
	display: block;
	width: auto;
	overflow: hidden;
	float: right;
	margin: 0;
	padding-top: 0;
}

.sub-nav dd {
	margin-bottom: 0;
}

.sub-nav a {
	color: #ffffff;
}

.sub-nav a:hover {
	font-weight: bold;
}


.whitepapers {
padding-bottom: 1em;
padding-top: 1em;
	
}

.videos {
padding-bottom: 1em;
padding-top: 1em;
background-color: #393939;
}



.whitepapers h2, .videos h3 {
	font-size: 17px;
	margin-top: 0;
	margin-bottom: .5em;
	line-height: 1em;
}

.whitepapers p, .videos p {
	font-size: 12px;
	line-height: 1.4em;
}


.videos p, .videos h3 {
	color: #ffffff;
}

.main-content img {
	border: 5px solid #ffffff;
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.14);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.14);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.14);
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.team a {
	font-weight: bold;
}


.sidebar {
	padding-top: 40px;
}

.sidebar h4 {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0;
	line-height: 1em;
	border-bottom: 4px solid #ee1b24;
	display: inline-block;
	margin-bottom: 0;
	padding-bottom: .5em;
}

.sidebar-blog {
	margin-top: 1em;
	border-left: 1px solid #ebebeb;
	background: -moz-linear-gradient(180deg, white 0%, #f8f8f8 100%) #f9f9f9;
	background: -webkit-gradient(linear, right bottom, left bottom, from(white), to(#f8f8f8)) #f9f9f9;
}

.sidebar-blog h3 {
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1em;
  display: block;
  font-size: 17px;
  color: #bdb7b7;
  padding-top: 0;
  margin-top: 1.5em;
  margin-bottom: 1em;
  text-transform: capitalize;
  border-bottom: 1px solid #ededed;
}



.sidebar-blog li a span.name {
	color: #212121;
	margin-left: .2em;
	font-weight: 500;
}


.sidebar-blog .summary-title a {
	font-weight: bold;
	color: #2d2d2d;
	font-size: 15px;
	margin-top: 0;
}

.sidebar-blog .summary-excerpt {
	color: #797979;
	font-size: 12px;
}


.sidebar-blog span.timesince {
	color: #757575;
	font-size: 10px;
}

nav.pagination {
	padding-bottom: 3em;
	float: right;
	min-width: 20px;
}

nav.pagination a {
	color: black;
	font-weight: bold;
	-webkit-border-radius: 10px;
	border: 2px solid #000000;
	padding: .3em 1em;
}

nav.pagination a:hover {
	color: #ffffff;
	font-weight: bold;
	-webkit-border-radius: 10px;
	padding: .5em 1.5em;
	border: 2px solid #e13232;
	background-color: #e13232;
}

.blog-actions li {
  float: left;
  list-style: none;
  margin-right: 2em;
  font-size: 12px;
}


.readmore a.link {
	color: #ffffff;
	-webkit-border-radius: 10px;
	padding: .2em 1em;
	font-weight: normal;
	font-style: normal;
	background-color: #d1d1d1;
}

.readmore a.link:hover {
	color: #ffffff;
	font-weight: bold;
	-webkit-border-radius: 10px;
	background-color: #e13232;
}

nav.pagination a.disabled {
	color: silver;
	font-weight: bold;
	-webkit-border-radius: 10px;
	border-style: none;
	padding: .5em 1.5em;
}

nav.pagination a.disabled:hover {
	color: silver;
	font-weight: bold;
	-webkit-border-radius: 10px;
	border-style: none;
	padding: .5em 1.5em;
	background-color: #ffffff;
}

ul.blog-actions{
	margin-bottom: 0;
}





ul.side-nav {
	padding-top: 25px;
	border-top: 1px solid #bdb7b7;
	margin-top: -1px;
}

ul.side-nav li a {
	font-size: 15px;
	color: #b3afaf;
}

ul.side-nav li.active-link a {
	font-size: 15px;
	color: #121111;
	font-weight: bold;
}


.squarespace-comments .hidden-ordering {
  opacity: 0;
  cursor: pointer;
  width: 130px;
  position: absolute;
  top: 4px;
  left: 0;
}


.squarespace-comments .new-comment-area .input form.comment-form textarea {
  width: 100%;
  line-height: 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  margin: 0;
  height: 140px;
  background-color: #f2f2f2;
  -moz-box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  border-width: 0;
  font-weight: bold;
}


.squarespace-comments .new-comment-area .comment-btn-wrapper {
  text-align: right;
  border: 0 1px 1px none rgba(0, 0, 0, 0.1);
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  font-size: 12px;
  display: block;
  border-bottom: 2px solid #dcdcdc;
  padding-bottom: 1.5em;
}


.squarespace-comments .new-comment-area .comment-btn-wrapper .comment-btn {
  background-color: #272727;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font: bold 12px/1em proxima-nova;
  position: relative;
  text-align: center;
  -webkit-border-radius: 6px;
  padding: .7em 1em;
}

.squarespace-comments .header-controls .controls .comment-controls .subscribe,
.squarespace-comments .header-controls .controls .comment-controls .unsubscribe {
position: relative;
list-style-type: none;
display: inline-block;
top: 10px;
text-transform: uppercase;
font-weight: bold;
font-size: 10px;
margin-right: 0;
color: gray;
}

.squarespace-comments .header-controls .controls .comment-controls .comment-sort {
  position: relative;
  list-style-type: none;
  margin-right: 15px;
  display: inline-block;
  top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  color: gray;
}

h3.comment-count {
	font-size: 19px;
}

article h1.title {
	margin-bottom: 0;
	font-size: 37px;
}



.collectionlink-block .collectionlink-content-below-thumbnail .collectionlink-title,
.link-block .collectionlink-content-below-thumbnail .collectionlink-title {
	margin: 0.5em 0 0;
}


.collectionlink-block a,
.link-block a {
  display: block;
  max-height: 150px;
  font-weight: bold;
  color: #000000;
  font-size: 18px;
}

.collectionlink-block .collectionlink-description p,
.link-block .collectionlink-description p {
	padding-bottom: 0;
  margin-bottom: 0;
  font-size: 0.85em;
  line-height: 1.4em;
  text-align: left;
  margin-top: 0;
  color: #878787;
}



.collectionlink-thumbnail img {
 -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
 -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
 box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
 border: 2px solid #f2f2f2;
 box-sizing: border-box;
   moz-box-sizing: border-box;
   left: 0;
}


hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.30), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.30), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.30), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.30), rgba(0,0,0,0)); 
}



.blog-content {
	margin-top: 3em;
}

.blog-content article  {
	margin-bottom: 3em;
}

article h3 {
	font-size: 33px;
	margin-bottom: 0;
	font-weight: normal;
	font-style: normal;
	color: #8e8e8e;
}

article h1 {
	font-size: 33px;
	margin-bottom: 0;
	font-weight: normal;
	font-style: normal;
	color: #8e8e8e;
}

article h1.title {
	margin-top: .5em;
	margin-bottom: .5em;
}

article h1.title a, article h3 a {
	color: #3f3f3f;
}

article a time {
	color: #757575;
	font-weight: normal;
	font-style: normal;
}

article p.meta {
	font-size: 12px;
	color: #8e8e8e;
}

article p.meta a {
	font-weight: bold;
}

.blog-actions {
	padding-top: 1em;
	border-top: 2px solid #dcdcdc;
	border-bottom: 1px solid #f1f1f1;
	padding-bottom: 1em;
	float: left;
	width: 100%;
}

.blog-actions li {
	float: left;
	list-style: none;
	margin-right: 2em;
}

.blog-actions li a {
	color: #3f3f3f;
	font-weight: bold;
}

.blog-actions li.like {
	float: right;
	margin-right: 0;
	color: #757575;
}



.squarespace-social-buttons.button-style .ss-social-button-wrapper {
  display: block;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.04), inset 0 -1px 0 rgba(0,0,0,.24);
  -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.04), inset 0 -1px 0 rgba(0,0,0,.24);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.04), inset 0 -1px 0 rgba(0,0,0,.24);
  cursor: pointer;
  width: 67px;
  padding: 1px 6px 0px 5px;
}
.squarespace-social-buttons.button-style .ss-social-button-wrapper:hover {
	
}
.squarespace-social-buttons.button-style .ss-social-button-wrapper .ss-social-button {
  display: inline-block;
  font: 11px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #fff;
  height: 21px;
  line-height: 20px;
  padding: 0px 0px 0px 22px;
  cursor: pointer;
  background: 2px 2px no-repeat url("/universal/images-v6/standard/icon_social_button_10_light.png");
  background-position: 10% 50%;
}


.sqs-search-ui input {
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 60px;
  font: 500 50px "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.05em;
  outline: none;
  height: 2em;
  margin-left: 0;
}


.sqs-search-ui {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
  padding: 200px 10px 50px;
}

.sqs-search-ui-list .search-results {
	position: absolute;
	width: 70%;
}

.sqs-search-ui-filters {
	width: 30%;
}


a.full-width img {
	width: 100%;
	 margin-bottom: 1em;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
	 border: 5px solid #f2f2f2;
	 -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.11);
	 -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.11);
	 box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.11);
}